<!-- your html code here -->
<!-- <p>Hello, I'm contact.html</p> -->

<section class="container bg-white p-5 border-top">
    <div>
        <h1>Contact</h1>
        <p class="fs-5">Donec pulvinar maximus lectus, at tincidunt urna consequat vel. Praesent tellus nisl, ultrices sit amet pharetra nec, blandit a mi. Nullam molestie non tortor laoreet faucibus. Sed rhoncus euismod ultrices. Mauris eget cursus purus.</p>
    </div>
    <!-- Contact form -->
    <div class="d-flex justify-content-center">
        <div class="col-lg-8 col-12">
            <div class="modal-content ps-5 bg-secondary bg-opacity-10">
                <div class="row me-3 my-3">
                    <label for="exampleFormControlInput1" class="form-label fw-bold col-md-4">Your E-mail</label>
                    <input type="email" class="form-control col-md-5" id="exampleFormControlInput1" placeholder="Your email">
                </div>
                <div class="row me-3 mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label fw-bold col-md-4">Your message</label>
                    <textarea class="form-control col-md-8" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here..."></textarea>
                </div>
                <div class="me-3 mb-4 ">
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</section>