<!-- your html code here -->
<!-- <p>Hello, I'm the portfolio.html</p> -->

<section class="bg-white p-5 mx-3 my-5">
    <div class="mx-2">
        <h1>Portfolio</h1>
        <p class="fs-5">Praesent tellus nisl, ultrices sit amet pharetra nec, blandit a mi. Nullam molestie non tortor laoreet faucibus. Sed varius rhoncus magna vitae viverra.</p>
    </div>
    <div class="row">
        <!-- first project -->
        <div class="col-4 px-3 mb-4">
            <img src="assets/img/big-project-image.png" class="img-fluid" alt="big-project-image.png">
            <div class="mt-4">
                <h5 class="fw-bold text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta lectus quis augue scelerisque, at cursus sem fringilla.</p>
            </div>
        </div>
        <!-- second project -->
        <div class="col-4 px-3 mb-4">
            <img src="assets/img/big-project-image.png" class="img-fluid" alt="big-project-image.png">
            <div class="mt-4">
                <h5 class="fw-bold text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta lectus quis augue scelerisque, at cursus sem fringilla.</p>
            </div>
        </div>
        <!-- third project -->
        <div class="col-4 px-3 mb-4">
            <img src="assets/img/big-project-image.png" class="img-fluid" alt="big-project-image.png">
            <div class="mt-4">
                <h5 class="fw-bold text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta lectus quis augue scelerisque, at cursus sem fringilla.</p>
            </div>
        </div>
    </div>
</section>