<div class="container bg-white p-5 border-top">
    <div class="row">
        <div class="col-4">
            <img src="/website/assets/img/2.jpg" class="rounded-circle" style="width: 99%;" alt="services">
        </div>
        <div class="col-8 text-end ps-5">
            <h3 style="color: black">The Second Heading <span style="color: gray;">Is Pretty Cool Too.</span></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, dolorem. Vero, aliquid sequi dolorem maiores molestias facere expedita placeat illo, autem, odio voluptate ut beatae fuga deserunt minima fugiat quis.</p> 
        </div>
    </div>
</div>